<a href="https://colab.research.google.com/github/Maratinhos/hw/blob/master/Kaggle_Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Conv2D, MaxPooling2D, Dropout, Flatten
from tensorflow.keras import utils
from tensorflow.keras.preprocessing import image
from tensorflow.python.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.callbacks import ReduceLROnPlateau, ModelCheckpoint, EarlyStopping
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np
import matplotlib.pyplot as plt
from PIL import Image
from google.colab import files
import pandas as pd
%matplotlib inline

In [0]:
file = files.upload()

Saving kaggle.json to kaggle.json

In [0]:
!ls

kaggle.json  sample_data

In [0]:
!mkdir ~/.kaggle

In [0]:
!mv kaggle.json ~/.kaggle

In [0]:
!chmod 600 /root/.kaggle/kaggle.json

In [0]:
!kaggle competitions download -c titanic

Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 51.6MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 23.6MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 3.26MB/s]

In [0]:
df = pd.read_csv('train.csv')

In [0]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [0]:
df[['Survived', 'Pclass', 'Age', 'Fare']].groupby(['Survived']).mean()

            Pclass        Age       Fare
Survived
0         2.531876  30.626179  22.117887
1         1.950292  28.343690  48.395408

In [0]:
df[['Sex', 'Survived']].groupby(['Sex']).mean()

     Survived
Sex
0    0.188908
1    0.742038

In [0]:
df['Sex'] = df['Sex'].replace('male', 0)
df['Sex'] = df['Sex'].replace('female', 1)

In [0]:
df[:3]

   PassengerId  Survived  Pclass  ...     Fare  Cabin  Embarked
0            1         0       3  ...   7.2500    NaN         S
1            2         1       1  ...  71.2833    C85         C
2            3         1       3  ...   7.9250    NaN         S

[3 rows x 12 columns]

In [0]:
df.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 8 columns]

In [0]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare  Cabin  Embarked
0            1         0       3  ...   7.2500    NaN         S
1            2         1       1  ...  71.2833    C85         C
2            3         1       3  ...   7.9250    NaN         S
3            4         1       1  ...  53.1000   C123         S
4            5         0       3  ...   8.0500    NaN         S

[5 rows x 12 columns]

In [0]:
df['Pclass'].describe()

count    891.000000
mean       0.769547
std        0.278690
min        0.333333
25%        0.666667
50%        1.000000
75%        1.000000
max        1.000000
Name: Pclass, dtype: float64

In [0]:
x = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]
y = df['Survived']

In [0]:
x_train, x_val, y_train, y_val = train_test_split(x,y,test_size=0.1, shuffle=True)

In [0]:
(x_train.shape, y_train.shape)

((801, 6), (90,))

In [0]:
(x_val.shape, y_val.shape)

((90, 6), (90,))

In [0]:
x_train[:5]

     Pclass  Sex   Age  SibSp  Parch    Fare
19        3    1   NaN      0      0   7.225
157       3    0  30.0      0      0   8.050
481       2    0   NaN      0      0   0.000
714       2    0  52.0      0      0  13.000
70        2    0  32.0      0      0  10.500

In [0]:
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_val_scaled = scaler.fit_transform(x_test)

In [0]:
x_train_scaled = x_train_scaled.astype(np.float32)
x_val_scaled = x_val_scaled.astype(np.float32)
y_train = y_train.astype(np.float32)
y_val = y_val.astype(np.float32)

In [0]:
x_train_scaled[:5]

array([[-0.36913726, -0.7391428 , -0.10071471, -0.47140703,  0.76027244,
         0.0076846 ],
       [ 0.8328096 , -0.7391428 , -2.0163367 , -0.47140703,  0.76027244,
        -0.47654793],
       [ 0.8328096 , -0.7391428 , -0.72582704, -0.47140703, -0.4850818 ,
        -0.49368957],
       [ 0.8328096 , -0.7391428 , -0.58691317, -0.47140703, -0.4850818 ,
        -0.49080592],
       [ 0.8328096 , -0.7391428 , -1.4203963 ,  3.1162133 ,  2.0056267 ,
        -0.02420754]], dtype=float32)

In [0]:
(x_train_scaled.shape, y_train.shape)

((801, 6), (801,))

In [0]:
(x_val_scaled.shape, y_val.shape)

((90, 6), (90,))

In [0]:
y_train.head()

848    0.0
803    1.0
715    0.0
391    1.0
182    0.0
Name: Survived, dtype: float32

In [0]:
model = Sequential()

In [0]:
model.add(Dense(128, activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [0]:
model.compile(optimizer='adam', los='binary_crossentropy', metrict = ['accuracy'])

In [0]:
history = model.fit(x_train_scaled, y_train, validation_data = (x_val_scaled, y_val), batch_size = 128, epochs = 5)

ValueError: ignored